.minimal {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.minimal__card {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	text-align: center;
}
